pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:not([data-md-color-scheme="slate"]) .highlight .hll { background-color: #ffffcc }
:not([data-md-color-scheme="slate"]) .highlight { background: #f0f0f0; }
:not([data-md-color-scheme="slate"]) .highlight .c { color: #60A0B0; font-style: italic } /* Comment */
:not([data-md-color-scheme="slate"]) .highlight .err { border: 1px solid #F00 } /* Error */
:not([data-md-color-scheme="slate"]) .highlight .k { color: #007020; font-weight: bold } /* Keyword */
:not([data-md-color-scheme="slate"]) .highlight .o { color: #666 } /* Operator */
:not([data-md-color-scheme="slate"]) .highlight .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
:not([data-md-color-scheme="slate"]) .highlight .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
:not([data-md-color-scheme="slate"]) .highlight .cp { color: #007020 } /* Comment.Preproc */
:not([data-md-color-scheme="slate"]) .highlight .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
:not([data-md-color-scheme="slate"]) .highlight .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
:not([data-md-color-scheme="slate"]) .highlight .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
:not([data-md-color-scheme="slate"]) .highlight .gd { color: #A00000 } /* Generic.Deleted */
:not([data-md-color-scheme="slate"]) .highlight .ge { font-style: italic } /* Generic.Emph */
:not([data-md-color-scheme="slate"]) .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:not([data-md-color-scheme="slate"]) .highlight .gr { color: #F00 } /* Generic.Error */
:not([data-md-color-scheme="slate"]) .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
:not([data-md-color-scheme="slate"]) .highlight .gi { color: #00A000 } /* Generic.Inserted */
:not([data-md-color-scheme="slate"]) .highlight .go { color: #888 } /* Generic.Output */
:not([data-md-color-scheme="slate"]) .highlight .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
:not([data-md-color-scheme="slate"]) .highlight .gs { font-weight: bold } /* Generic.Strong */
:not([data-md-color-scheme="slate"]) .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
:not([data-md-color-scheme="slate"]) .highlight .gt { color: #04D } /* Generic.Traceback */
:not([data-md-color-scheme="slate"]) .highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
:not([data-md-color-scheme="slate"]) .highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
:not([data-md-color-scheme="slate"]) .highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
:not([data-md-color-scheme="slate"]) .highlight .kp { color: #007020 } /* Keyword.Pseudo */
:not([data-md-color-scheme="slate"]) .highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
:not([data-md-color-scheme="slate"]) .highlight .kt { color: #902000 } /* Keyword.Type */
:not([data-md-color-scheme="slate"]) .highlight .m { color: #40A070 } /* Literal.Number */
:not([data-md-color-scheme="slate"]) .highlight .s { color: #4070A0 } /* Literal.String */
:not([data-md-color-scheme="slate"]) .highlight .na { color: #4070A0 } /* Name.Attribute */
:not([data-md-color-scheme="slate"]) .highlight .nb { color: #007020 } /* Name.Builtin */
:not([data-md-color-scheme="slate"]) .highlight .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
:not([data-md-color-scheme="slate"]) .highlight .no { color: #60ADD5 } /* Name.Constant */
:not([data-md-color-scheme="slate"]) .highlight .nd { color: #555; font-weight: bold } /* Name.Decorator */
:not([data-md-color-scheme="slate"]) .highlight .ni { color: #D55537; font-weight: bold } /* Name.Entity */
:not([data-md-color-scheme="slate"]) .highlight .ne { color: #007020 } /* Name.Exception */
:not([data-md-color-scheme="slate"]) .highlight .nf { color: #06287E } /* Name.Function */
:not([data-md-color-scheme="slate"]) .highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
:not([data-md-color-scheme="slate"]) .highlight .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
:not([data-md-color-scheme="slate"]) .highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
:not([data-md-color-scheme="slate"]) .highlight .nv { color: #BB60D5 } /* Name.Variable */
:not([data-md-color-scheme="slate"]) .highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
:not([data-md-color-scheme="slate"]) .highlight .w { color: #BBB } /* Text.Whitespace */
:not([data-md-color-scheme="slate"]) .highlight .mb { color: #40A070 } /* Literal.Number.Bin */
:not([data-md-color-scheme="slate"]) .highlight .mf { color: #40A070 } /* Literal.Number.Float */
:not([data-md-color-scheme="slate"]) .highlight .mh { color: #40A070 } /* Literal.Number.Hex */
:not([data-md-color-scheme="slate"]) .highlight .mi { color: #40A070 } /* Literal.Number.Integer */
:not([data-md-color-scheme="slate"]) .highlight .mo { color: #40A070 } /* Literal.Number.Oct */
:not([data-md-color-scheme="slate"]) .highlight .sa { color: #4070A0 } /* Literal.String.Affix */
:not([data-md-color-scheme="slate"]) .highlight .sb { color: #4070A0 } /* Literal.String.Backtick */
:not([data-md-color-scheme="slate"]) .highlight .sc { color: #4070A0 } /* Literal.String.Char */
:not([data-md-color-scheme="slate"]) .highlight .dl { color: #4070A0 } /* Literal.String.Delimiter */
:not([data-md-color-scheme="slate"]) .highlight .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
:not([data-md-color-scheme="slate"]) .highlight .s2 { color: #4070A0 } /* Literal.String.Double */
:not([data-md-color-scheme="slate"]) .highlight .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
:not([data-md-color-scheme="slate"]) .highlight .sh { color: #4070A0 } /* Literal.String.Heredoc */
:not([data-md-color-scheme="slate"]) .highlight .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
:not([data-md-color-scheme="slate"]) .highlight .sx { color: #C65D09 } /* Literal.String.Other */
:not([data-md-color-scheme="slate"]) .highlight .sr { color: #235388 } /* Literal.String.Regex */
:not([data-md-color-scheme="slate"]) .highlight .s1 { color: #4070A0 } /* Literal.String.Single */
:not([data-md-color-scheme="slate"]) .highlight .ss { color: #517918 } /* Literal.String.Symbol */
:not([data-md-color-scheme="slate"]) .highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
:not([data-md-color-scheme="slate"]) .highlight .fm { color: #06287E } /* Name.Function.Magic */
:not([data-md-color-scheme="slate"]) .highlight .vc { color: #BB60D5 } /* Name.Variable.Class */
:not([data-md-color-scheme="slate"]) .highlight .vg { color: #BB60D5 } /* Name.Variable.Global */
:not([data-md-color-scheme="slate"]) .highlight .vi { color: #BB60D5 } /* Name.Variable.Instance */
:not([data-md-color-scheme="slate"]) .highlight .vm { color: #BB60D5 } /* Name.Variable.Magic */
:not([data-md-color-scheme="slate"]) .highlight .il { color: #40A070 } /* Literal.Number.Integer.Long */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
[data-md-color-scheme="slate"] .highlight .hll { background-color: #ffffcc }
[data-md-color-scheme="slate"] .highlight { background: #282C34; color: #ABB2BF }
[data-md-color-scheme="slate"] .highlight .c { color: #7F848E } /* Comment */
[data-md-color-scheme="slate"] .highlight .err { color: #ABB2BF } /* Error */
[data-md-color-scheme="slate"] .highlight .esc { color: #ABB2BF } /* Escape */
[data-md-color-scheme="slate"] .highlight .g { color: #ABB2BF } /* Generic */
[data-md-color-scheme="slate"] .highlight .k { color: #C678DD } /* Keyword */
[data-md-color-scheme="slate"] .highlight .l { color: #ABB2BF } /* Literal */
[data-md-color-scheme="slate"] .highlight .n { color: #E06C75 } /* Name */
[data-md-color-scheme="slate"] .highlight .o { color: #56B6C2 } /* Operator */
[data-md-color-scheme="slate"] .highlight .x { color: #ABB2BF } /* Other */
[data-md-color-scheme="slate"] .highlight .p { color: #ABB2BF } /* Punctuation */
[data-md-color-scheme="slate"] .highlight .ch { color: #7F848E } /* Comment.Hashbang */
[data-md-color-scheme="slate"] .highlight .cm { color: #7F848E } /* Comment.Multiline */
[data-md-color-scheme="slate"] .highlight .cp { color: #7F848E } /* Comment.Preproc */
[data-md-color-scheme="slate"] .highlight .cpf { color: #7F848E } /* Comment.PreprocFile */
[data-md-color-scheme="slate"] .highlight .c1 { color: #7F848E } /* Comment.Single */
[data-md-color-scheme="slate"] .highlight .cs { color: #7F848E } /* Comment.Special */
[data-md-color-scheme="slate"] .highlight .gd { color: #E06C75 } /* Generic.Deleted */
[data-md-color-scheme="slate"] .highlight .ge { color: #ABB2BF; font-style: italic } /* Generic.Emph */
[data-md-color-scheme="slate"] .highlight .ges { color: #ABB2BF } /* Generic.EmphStrong */
[data-md-color-scheme="slate"] .highlight .gr { color: #E06C75 } /* Generic.Error */
[data-md-color-scheme="slate"] .highlight .gh { color: #ABB2BF; font-weight: bold } /* Generic.Heading */
[data-md-color-scheme="slate"] .highlight .gi { color: #98C379 } /* Generic.Inserted */
[data-md-color-scheme="slate"] .highlight .go { color: #E06C75 } /* Generic.Output */
[data-md-color-scheme="slate"] .highlight .gp { color: #ABB2BF } /* Generic.Prompt */
[data-md-color-scheme="slate"] .highlight .gs { color: #ABB2BF; font-weight: bold } /* Generic.Strong */
[data-md-color-scheme="slate"] .highlight .gu { color: #ABB2BF; font-weight: bold } /* Generic.Subheading */
[data-md-color-scheme="slate"] .highlight .gt { color: #E06C75 } /* Generic.Traceback */
[data-md-color-scheme="slate"] .highlight .kc { color: #E5C07B } /* Keyword.Constant */
[data-md-color-scheme="slate"] .highlight .kd { color: #C678DD } /* Keyword.Declaration */
[data-md-color-scheme="slate"] .highlight .kn { color: #C678DD } /* Keyword.Namespace */
[data-md-color-scheme="slate"] .highlight .kp { color: #C678DD } /* Keyword.Pseudo */
[data-md-color-scheme="slate"] .highlight .kr { color: #C678DD } /* Keyword.Reserved */
[data-md-color-scheme="slate"] .highlight .kt { color: #E5C07B } /* Keyword.Type */
[data-md-color-scheme="slate"] .highlight .ld { color: #ABB2BF } /* Literal.Date */
[data-md-color-scheme="slate"] .highlight .m { color: #D19A66 } /* Literal.Number */
[data-md-color-scheme="slate"] .highlight .s { color: #98C379 } /* Literal.String */
[data-md-color-scheme="slate"] .highlight .na { color: #E06C75 } /* Name.Attribute */
[data-md-color-scheme="slate"] .highlight .nb { color: #E5C07B } /* Name.Builtin */
[data-md-color-scheme="slate"] .highlight .nc { color: #E5C07B } /* Name.Class */
[data-md-color-scheme="slate"] .highlight .no { color: #E06C75 } /* Name.Constant */
[data-md-color-scheme="slate"] .highlight .nd { color: #61AFEF } /* Name.Decorator */
[data-md-color-scheme="slate"] .highlight .ni { color: #E06C75 } /* Name.Entity */
[data-md-color-scheme="slate"] .highlight .ne { color: #E06C75 } /* Name.Exception */
[data-md-color-scheme="slate"] .highlight .nf { color: #61AFEF; font-weight: bold } /* Name.Function */
[data-md-color-scheme="slate"] .highlight .nl { color: #E06C75 } /* Name.Label */
[data-md-color-scheme="slate"] .highlight .nn { color: #E06C75 } /* Name.Namespace */
[data-md-color-scheme="slate"] .highlight .nx { color: #E06C75 } /* Name.Other */
[data-md-color-scheme="slate"] .highlight .py { color: #E06C75 } /* Name.Property */
[data-md-color-scheme="slate"] .highlight .nt { color: #E06C75 } /* Name.Tag */
[data-md-color-scheme="slate"] .highlight .nv { color: #E06C75 } /* Name.Variable */
[data-md-color-scheme="slate"] .highlight .ow { color: #56B6C2 } /* Operator.Word */
[data-md-color-scheme="slate"] .highlight .pm { color: #ABB2BF } /* Punctuation.Marker */
[data-md-color-scheme="slate"] .highlight .w { color: #ABB2BF } /* Text.Whitespace */
[data-md-color-scheme="slate"] .highlight .mb { color: #D19A66 } /* Literal.Number.Bin */
[data-md-color-scheme="slate"] .highlight .mf { color: #D19A66 } /* Literal.Number.Float */
[data-md-color-scheme="slate"] .highlight .mh { color: #D19A66 } /* Literal.Number.Hex */
[data-md-color-scheme="slate"] .highlight .mi { color: #D19A66 } /* Literal.Number.Integer */
[data-md-color-scheme="slate"] .highlight .mo { color: #D19A66 } /* Literal.Number.Oct */
[data-md-color-scheme="slate"] .highlight .sa { color: #98C379 } /* Literal.String.Affix */
[data-md-color-scheme="slate"] .highlight .sb { color: #98C379 } /* Literal.String.Backtick */
[data-md-color-scheme="slate"] .highlight .sc { color: #98C379 } /* Literal.String.Char */
[data-md-color-scheme="slate"] .highlight .dl { color: #98C379 } /* Literal.String.Delimiter */
[data-md-color-scheme="slate"] .highlight .sd { color: #98C379 } /* Literal.String.Doc */
[data-md-color-scheme="slate"] .highlight .s2 { color: #98C379 } /* Literal.String.Double */
[data-md-color-scheme="slate"] .highlight .se { color: #98C379 } /* Literal.String.Escape */
[data-md-color-scheme="slate"] .highlight .sh { color: #98C379 } /* Literal.String.Heredoc */
[data-md-color-scheme="slate"] .highlight .si { color: #98C379 } /* Literal.String.Interpol */
[data-md-color-scheme="slate"] .highlight .sx { color: #98C379 } /* Literal.String.Other */
[data-md-color-scheme="slate"] .highlight .sr { color: #98C379 } /* Literal.String.Regex */
[data-md-color-scheme="slate"] .highlight .s1 { color: #98C379 } /* Literal.String.Single */
[data-md-color-scheme="slate"] .highlight .ss { color: #98C379 } /* Literal.String.Symbol */
[data-md-color-scheme="slate"] .highlight .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
[data-md-color-scheme="slate"] .highlight .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
[data-md-color-scheme="slate"] .highlight .vc { color: #E06C75 } /* Name.Variable.Class */
[data-md-color-scheme="slate"] .highlight .vg { color: #E06C75 } /* Name.Variable.Global */
[data-md-color-scheme="slate"] .highlight .vi { color: #E06C75 } /* Name.Variable.Instance */
[data-md-color-scheme="slate"] .highlight .vm { color: #E06C75 } /* Name.Variable.Magic */
[data-md-color-scheme="slate"] .highlight .il { color: #D19A66 } /* Literal.Number.Integer.Long */
